* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #3525af, #9153c9);
}

.resume {
  width: 800px;
  background: #fff;
  margin: 25px auto;
  display: flex;
}

aside {
  background: #323233;
  width: 250px;
  padding: 0 20px;
}

img {
  text-align: center;
  padding: 20px 0;
  width: 200px;
  border-radius: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #9d95da;
  position: relative;
  text-align: left;
  margin-bottom: 15px;
}

menu {
  display: block;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  font-size: 15px;
  color: #fff;
  line-height: 26px;
  list-style: none;
  font-style: italic;
}

.right {
  width: calc(100% - 250px);
}

main {
  background: #323233;
  padding: 15px 30px;
  color: #fff;
  height: 240px;
}

h1 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 700;
  color: #9d95da;
}

p {
  margin-top: 20px;
  line-height: 26px;
  font-style: italic;
}

section {
  background: #59595c;
  height: 600px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #9d95da;
  position: relative;
  text-align: left;
  margin-bottom: 15px;
  padding: 20px 0;
  font-style: normal;
}

article {
  font-size: 17px;
  color: #fff;
  line-height: 26px;
  margin-left: 25px;
  font-style: italic;
}
